/* dk_caroufredsel global styles */
.caroufredsel_skin .image_container img, .caroufredsel_thumbnails_skin .image_container img {
	vertical-align: bottom;
}
.caroufredsel > div, .caroufredsel > section, .caroufredsel_thumbnails > div {
	float: left;
}
.caroufredsel .clearfix {
	float: none;
	clear: both;
}
.caroufredsel_thumbnails_skin {
	position: relative;
}